:root {
	--jwp-settings__color-background: #f0f2eb;
	--jwp-settings__color-brand: #008710;
	--jwp-settings__color-brand-light: #f1faee;
}

body.jetixwp_page_rs-featured-image-settings #wpcontent {
	padding-left: 0px;
}

.wrap.rs-featured-image {
	margin: 0;
}

.wrap.rs-featured-image .plugin-header {
	padding: 20px 0;
	background-color: var(--jwp-settings__color-background);
	border-bottom: 1px solid rgba(0,0,0, 0.1);
	-webkit-box-shadow: 0px 2px 6px rgba(35, 40, 45, .07);
	box-shadow: 0px 2px 6px rgba(35, 40, 45, .07);
}

body.jetixwp_page_rs-featured-image-settings #wpbody-content > *:not(.wrap.rs-featured-image):not(#screen-meta),
.wrap.rs-featured-image .plugin-header [class*="notice"] {
	display: none !important;
}

.plugin-header .plugin-header-wrap {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	align-items: center;
}

.plugin-header .plugin-version > span {
	font-weight: 700;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.375rem;
	border: 1px solid rgba(0,0,0, 0.1);
}

.wrap.rs-featured-image .plugin-header .plugin-info,
.plugin-header .brand-info {
	display: flex;
	gap: 10px;
	align-items: center;
}

.wrap.rs-featured-image .plugin-header .menu-title {
	padding: 0;
}

.plugin-header .brand-info .brand-logo {
	width: auto;
	height: 2.75rem;
}

.rs-featured-image-wrapper .nav-content {
	background: #fff;
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 2rem;
}

.rs-featured-image-wrapper .nav-tab:hover, 
.rs-featured-image-wrapper .nav-tab:focus {
	color: var(--jwp-settings__color-brand);
}

.rs-featured-image .plugin-header .plugin-header-wrap,
.rs-featured-image-wrapper .rs-featured-image-nav-tab-wrapper,
.rs-featured-image-wrapper > .tab-content {
	margin-left: 30px;
	max-width: 1360px;
	min-width: 920px;
	padding-right: 40px;
}

@media screen and (min-width: 768px) {
	.rs-featured-image-wrapper > .tab-content {
		display: grid;
		grid-template-columns: 8fr 4fr;
		column-gap: 40px;
	}

	#rs-featured-image_plugin_rollback_version-description + .form-table tbody {
		display: grid;
		grid-template-columns: auto 1fr;
	}

	#rs-featured-image_plugin_rollback_version-description + .form-table .forminp-button {
		padding: 15px 0;
	}
}

.rs-featured-image-wrapper .rs-featured-image-nav-tab-wrapper {
	border-bottom: none;
}

.rs-featured-image-wrapper .nav-tab {
	background: transparent;
	border: none;
	padding: 0 4px;
	margin-right: 15px;
	padding-top: 15px;
	padding-bottom: 8px;
	border-bottom: 4px solid transparent;
	outline: none;
}

.rs-featured-image-wrapper .nav-tab:first-child {
	margin-left: 0;
}

.rs-featured-image-wrapper .nav-tab-active {
	color: var(--jwp-settings__color-brand);
	border-color: var(--jwp-settings__color-brand);
}


.rs-featured-image a:focus,
.rs-featured-image a:active,
.rs-featured-image-wrapper .nav-tab:focus,
.rs-featured-image-wrapper .nav-tab:active {
	outline: none;
	box-shadow: none;
}

.rs-featured-image-wrapper .tab-content > .content {
	margin-top: -20px;
}

.rs-featured-image-wrapper .sidebar a {
	outline: none;
	box-shadow: none;
}
.rs-featured-image-wrapper .sidebar img {
	width: 100%;
	border-radius: 6px;
	box-shadow: 0 0 1px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border: 1px solid transparent;
	outline: none;
}

.rs-featured-image-wrapper .sidebar img:hover, .rs-featured-image-wrapper .sidebar img:focus {
	box-shadow: 1px 1px 20px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.1);
	border-color: rgb(38, 57, 227);
}

.rs-featured-image .menu-title {
	font-weight: bold;
}

.rs-featured-image .forminp .description {
	display: block;
	margin-top: 10px;
}

.rfsv .forminp-button {
	padding: 0 0 15px;
}

.rs-featured-image .collapsible {
	border: none;
	border-top: 1px solid#e2e4e7;
	border-bottom: 1px solid#e2e4e7;
	background-color: #fff;
	padding: 15px;
	outline: none;
	width: 100%;
	font-weight: 600;
	text-align: left;
	box-shadow: none;
	cursor: pointer;
}

.rs-featured-image .collapsible:after, .rs-featured-image .collapsible.active:after {
	font-family: 'Dashicons';
	font-size: 20px;
	color: #000;
	float: right;
	margin-left: 5px;
}

.rs-featured-image .collapsible:after {
	content: "\f140";
}

.rs-featured-image .collapsible.active:after {
	content: "\f142";;
}

.rs-featured-image .collapsible.active, .rs-featured-image .collapsible:hover {
	background-color: #fff;
}

.rs-featured-image .collapsible-content {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.rs-featured-image .form-table td.forminp-multi-checkbox fieldset label {
	padding-left: 0;
}

.rs-featured-image .form-table td.forminp-multi-checkbox input[type=checkbox]{
	height: 0;
	width: 0;
	display: none;
}

.rs-featured-image .form-table td.forminp-multi-checkbox label:focus input[type="checkbox"] + span,
.rs-featured-image .form-table td.forminp-multi-checkbox label:active input[type="checkbox"] + span {
	outline: 2px solid transparent;
	outline-offset: 2px;
	box-shadow: 0 0 0 2px #fff,0 0 0 3px #6c7781;
	border-radius: 15px;
	display: inline-block;
	height: 19px;
}

.rs-featured-image .form-table td.forminp-multi-checkbox span > span {
	cursor: pointer;
	text-indent: -9999px;
	width: 36px;
	height: 19px;
	background: #fff;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	border-radius: 15px;
	position: relative;
	border: 2px solid #6c7781;
}

.rfsv .form-table td.forminp-multi-checkbox span > span:before {
	position: absolute;
	top: 5px;
	right: 4px;
	width: 3px;
	height: 3px;
	z-index: 999;
	font-size: 51px;
	content: '';
	border-radius: 10px;
	border: 2px solid #6c7781;
	transition: 0.1s ease-in all;
}

.rs-featured-image .form-table td.forminp-multi-checkbox span > span:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 2.5px;
	width: 10px;
	height: 10px;
	background:#6c7781;
	border-radius: 15px;
	transition: 0.1s ease-in all;
}

.rs-featured-image .form-table td.forminp-multi-checkbox input:checked + span > span {
	background: var(--jwp-settings__color-brand);
	border-color: var(--jwp-settings__color-brand);
}

.rfsv .form-table td.forminp-multi-checkbox input:checked + span > span:before {
	border-radius: 0;
	right: calc(100% - 10px);
	transform: translateX(-100%);
	width: 1.5px;
	border: none;
	height: 6px;
	background: #fff;
}

.rs-featured-image .form-table td.forminp-multi-checkbox input:checked + span > span:after {
	background: #fff;
	left: calc(100% - 3px);
	transform: translateX(-100%);
}

.rs-featured-image .form-table td.forminp-multi-checkbox span > span:active:after {
	width: 20px;
}

.forminp-multi-checkbox fieldset {
	max-width: 1000px;
}

.forminp-multi-checkbox ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 80px;
	margin: 0;
	padding: 0;
}

.rs-featured-image.uroles td.forminp-multi-checkbox ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 700px) {
	.forminp-multi-checkbox ul {
		grid-template-columns: 1fr;
	}
}

.forminp-multi-checkbox li {
	flex: 0 0 150px;
	margin-top: 10px;
}


.forminp-multi-checkbox li label {
	margin: 0 !important;
	padding: 0;
}


.rs-featured-image .form-table td.forminp-multi-checkbox li label {
	display: inline-flex;
	flex-direction: row-reverse;
	width: 100%;
	justify-content: space-between;
}

.rs-featured-image .form-table td.forminp-multi-checkbox li label > * {
	margin: 0;
	align-self: center;
}

.rs-featured-image-enable-post-types + table.form-table,
.rs-featured-image-self-audio-controls + table.form-table,
.rs-featured-image-embed-audio-controls + table.form-table {
	background-color: #fff;
	border: 1px solid #DCDCDC;
}

.rs-featured-image-enable-post-types + table.form-table td,
.rs-featured-image-self-audio-controls + table.form-table td,
.rs-featured-image-embed-audio-controls + table.form-table td {
	padding: 6px 14px;
}

.rs-featured-image .forminp-status #theme-engine-status.loading::before {
	content: ' ';
	display: inline-block;
	border: 2px solid var(--jwp-settings__color-brand);
	border-top: 2px solid transparent;
	border-radius: 100%;
	width: 8px;
	height: 8px;
	margin-right: 4px;
	animation: rs-featured-image-spin 1s linear infinite;
}

@keyframes rs-featured-image-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.rs-featured-image .forminp-status .engine-active::before {
	content: ' ';
	display: inline-block;
	background: var(--jwp-settings__color-brand);
	width: 8px;
	height: 8px;
	border-radius: 100%;
	margin-right: 4px;
}

.rs-featured-image .forminp-status .engine-inactive::before {
	content: ' ';
	display: inline-block;
	background: #e14d43;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	margin-right: 4px;
}

.rs-featured-image .form-table + div[class*="promo-"] {
	margin-top: 30px;
}

.rs-featured-image tr[class*="promo-"] label > a,
.rs-featured-image div[class*="promo-"] > a {
	text-decoration: none;
	color: currentColor;
}

.rs-featured-image tr[class*="promo-"] .pro-tag,
.rs-featured-image div[class*="promo-"] .pro-tag {
	padding: 3px 6px;
	display: inline-block;
	background: var(--jwp-settings__color-brand);
	color: #fff;
	font-size: 14px;
	border-radius: 4px;
	margin-right: 8px;
	border: 2px solid transparent;
}

.rs-featured-image tr[class*="promo-"] .pro-tag:hover,
.rs-featured-image tr[class*="promo-"] .pro-tag:focus,
.rs-featured-image tr[class*="promo-"] .pro-tag:active,
.rs-featured-image div[class*="promo-"] .pro-tag:hover,
.rs-featured-image div[class*="promo-"] .pro-tag:focus,
.rs-featured-image div[class*="promo-"] .pro-tag:active {
	background: transparent;
	border-color: var(--jwp-settings__color-brand);
	color: var(--jwp-settings__color-brand) !important;
	box-shadow: none;
	outline: none;
}

.rs-featured-image tr[class*="promo-"] img {
	opacity: 0.6;
	height: 80px;
	width: auto;
}

.rs-featured-image tr[class*="promo-"] a.disabled {
	pointer-events: none;
	cursor: none;
	display: block;
	margin-top: 10px;
	opacity: 0.6;
}

.rs-featured-image td[class*=" forminp-promo-"] {
	select,
	input {
		opacity: 0.7;
	}
}

.rs-featured-image .forminp-media-image .media-image {
	height: 80px;
	width: auto;
	max-width: 100%;
	display: block;
	margin-bottom: 10px;
}

.rs-featured-image .forminp-media-image .rs-featured-image-remove-image-btn {
	margin-left: 10px;
}

.rs-featured-image.version_control .submit {
	display: none;
}

.rs-featured-image .sidebar .upgrade-box,
.rs-featured-image .sidebar .help-box,
.rs-featured-image .notice-box {
	background: #fff;
	border: 1px solid #dcdcdc;
	padding: 5px 30px 25px;
}


.rs-featured-image .sidebar .upgrade-box > *,
.rs-featured-image .sidebar .help-box > *,
.rs-featured-image .notice-box > * {
	margin-bottom: 15px;
}

.rs-featured-image .sidebar .upgrade-box .desc,
.rs-featured-image .sidebar .help-box .desc,
.rs-featured-image .notice-box .desc {
	font-size: 15px;
}


.rs-featured-image .sidebar .help-box .button.button-primary,
.rs-featured-image .notice-box .button.button-primary {
	font-size: 16px;
	width: 100%;
	padding: 6px 0;
	text-align: center;
	color: #fff;
}

.rs-featured-image .help-btn {
	padding: 6px 10px;
	border: 2px solid transparent;
	border-radius: 4px;
	text-decoration: none;
	line-height: 1.5;
}


.rs-featured-image .button-primary,
.rs-featured-image .rs-featured-image-button.button-primary {
	background: var(--jwp-settings__color-brand);
	color: #fff;
	box-shadow: none;
	outline: none;
	border: 2px solid transparent;
	transition: all .1s ease-in-out;
}

.rs-featured-image .button-primary:active,
.rs-featured-image .button-primary:focus,
.rs-featured-image .button-primary:hover {
	background: transparent;
	border-color: var(--jwp-settings__color-brand);
	color: var(--jwp-settings__color-brand) !important;
	box-shadow: none;
	outline: none;
}

.rs-featured-image .button-secondary,
.rs-featured-image .rs-featured-image-button.button-secondary {
	border-color: var(--jwp-settings__color-brand);
	color: var(--jwp-settings__color-brand);;
	box-shadow: none;
	outline: none;
	transition: all .1s ease-in-out;
}

.rs-featured-image .tab-content a {
	color: var(--jwp-settings__color-brand);
}

.rs-featured-image a:hover,
.rs-featured-image a:focus,
.rs-featured-image a:active {
	text-decoration: none;
}

/**
 * PROMO form.
 */
.rs-featured-image .sidebar .upgrade-box {
	border-color: var(--jwp-settings__color-brand);
	background-color: var(--jwp-settings__color-background);
	padding-top: 15px;
  border-radius: 4px;
	font-size: 14px;

	form {
		margin-top: 20px;
	}

	.regular-text {
		width: 100%;
		margin-bottom: 8px;
	}

	input[type="email"]:focus,
	input[type="text"]:focus {
		border-color: var(--jwp-settings__color-brand);
		box-shadow: 0 0 0 1px var(--jwp-settings__color-brand);
	}

	.separator {
		display: block;
		text-align: center;
		margin: 10px 0;
		position: relative;
	}

	.peekaboo-section {
		text-align: center;
	}

	.button-primary {
		color: #fff;
		font-size: 14px;
	}

	.button-secondary {
		background: transparent;
		color: var(--jwp-settings__color-brand);
		box-shadow: none;
		outline: none;
		border: 2px solid var(--jwp-settings__color-brand);
		transition: all .1s ease-in-out;
		width: 100%;
		text-align: center;
		font-size: 14px;

		&:active,
		&:focus,
		&:hover {
			background: var(--jwp-settings__color-brand);
			border-color: var(--jwp-settings__color-brand);
			color: #fff !important;
			box-shadow: none;
			outline: none;
		}
	}	
}