:root {
	--jwp__color-background: #f0f2eb;
	--jwp__color-brand: #008710;
	--jwp__color-brand-light: #f1faee;
}

body.jetixwp_page_rs-featured-image-settings #wpcontent {
	padding-left: 0px;
}

body.jetixwp_page_rs-featured-image-settings #wpbody-content > .notice {
	display: none;
}

.wrap.rs_featured_image {
	margin: 0;
}

.wrap.rs_featured_image .plugin-header {
	padding: 20px 0;
	background-color: var(--jwp__color-background);
	border-bottom: 1px solid rgba(0,0,0, 0.1);
	-webkit-box-shadow: 0px 2px 6px rgba(35, 40, 45, .07);
	box-shadow: 0px 2px 6px rgba(35, 40, 45, .07);
}

.plugin-header .plugin-header-wrap {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	align-items: center;
}

.plugin-header .plugin-version > span {
	font-weight: 700;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.375rem;
	border: 1px solid rgba(0,0,0, 0.1);
}

.wrap.rs_featured_image .plugin-header .plugin-info,
.plugin-header .brand-info {
	display: flex;
	gap: 10px;
	align-items: center;
}

.wrap.rs_featured_image .plugin-header .menu-title {
	padding: 0;
}

.plugin-header .brand-info .brand-logo {
	width: auto;
	height: 2.75rem;
}

.rs_featured_image-wrapper .nav-content {
	background: #fff;
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 2rem;
}

.rs_featured_image .plugin-header .plugin-header-wrap,
.rs_featured_image-wrapper .rs_featured_image-nav-tab-wrapper,
.rs_featured_image-wrapper form#mainform > .tab-content {
	margin-left: 30px;
	max-width: 1360px;
	min-width: 920px;
	padding-right: 40px;
}

@media screen and (min-width: 768px) {
	.rs_featured_image-wrapper form#mainform > .tab-content {
		display: grid;
		grid-template-columns: 8fr 4fr;
		column-gap: 40px;
	}
}

.rs_featured_image-wrapper .rs_featured_image-nav-tab-wrapper {
	border-bottom: none;
}

.rs_featured_image-wrapper .nav-tab {
	background: transparent;
	border: none;
	padding: 0 4px;
	margin-right: 15px;
	padding-top: 15px;
	padding-bottom: 8px;
	border-bottom: 4px solid transparent;
	outline: none;
}

.rs_featured_image-wrapper .nav-tab:first-child {
	margin-left: 0;
}

.rs_featured_image-wrapper .nav-tab-active {
	color: var(--jwp__color-brand);
	border-color: var(--jwp__color-brand);
}


.rs_featured_image a:focus,
.rs_featured_image a:active,
.rs_featured_image-wrapper .nav-tab:focus,
.rs_featured_image-wrapper .nav-tab:active {
	outline: none;
	box-shadow: none;
}

.rs_featured_image-wrapper .tab-content > .content {
	margin-top: -20px;
}

.rs_featured_image .form-table {
	table-layout: fixed;
}

.rs_featured_image-wrapper .sidebar a {
	outline: none;
	box-shadow: none;
}
.rs_featured_image-wrapper .sidebar img {
	width: 100%;
	border-radius: 6px;
	box-shadow: 0 0 1px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border: 1px solid transparent;
	outline: none;
}

.rs_featured_image-wrapper .sidebar img:hover, .rs_featured_image-wrapper .sidebar img:focus {
	box-shadow: 1px 1px 20px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.1);
	border-color: rgb(38, 57, 227);
}

.rs_featured_image .menu-title {
	font-weight: bold;
}

.rs_featured_image .forminp .description {
	display: block;
	margin-top: 10px;
}

.rfsv .forminp-button {
	padding: 0 0 15px;
}

.rs_featured_image .collapsible {
	border: none;
	border-top: 1px solid#e2e4e7;
	border-bottom: 1px solid#e2e4e7;
	background-color: #fff;
	padding: 15px;
	outline: none;
	width: 100%;
	font-weight: 600;
	text-align: left;
	box-shadow: none;
	cursor: pointer;
}

.rs_featured_image .collapsible:after, .rs_featured_image .collapsible.active:after {
	font-family: 'Dashicons';
	font-size: 20px;
	color: #000;
	float: right;
	margin-left: 5px;
}

.rs_featured_image .collapsible:after {
	content: "\f140";
}

.rs_featured_image .collapsible.active:after {
	content: "\f142";;
}

.rs_featured_image .collapsible.active, .rs_featured_image .collapsible:hover {
	background-color: #fff;
}

.rs_featured_image .collapsible-content {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.rs_featured_image .form-table td.forminp-textarea textarea {
	width: 100%;
}

.rs_featured_image .form-table td.forminp-multi-checkbox fieldset label {
	padding-left: 0;
}

.rs_featured_image .form-table td.forminp-multi-checkbox input[type=checkbox]{
	height: 0;
	width: 0;
	display: none;
}

.rs_featured_image .form-table td.forminp-multi-checkbox label:focus input[type="checkbox"] + span,
.rs_featured_image .form-table td.forminp-multi-checkbox label:active input[type="checkbox"] + span {
	outline: 2px solid transparent;
	outline-offset: 2px;
	box-shadow: 0 0 0 2px #fff,0 0 0 3px #6c7781;
	border-radius: 15px;
	display: inline-block;
	height: 19px;
}

.rs_featured_image .form-table td.forminp-multi-checkbox span > span {
	cursor: pointer;
	text-indent: -9999px;
	width: 36px;
	height: 19px;
	background: #fff;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	border-radius: 15px;
	position: relative;
	border: 2px solid #6c7781;
}

.rfsv .form-table td.forminp-multi-checkbox span > span:before {
	position: absolute;
	top: 5px;
	right: 4px;
	width: 3px;
	height: 3px;
	z-index: 999;
	font-size: 51px;
	content: '';
	border-radius: 10px;
	border: 2px solid #6c7781;
	transition: 0.1s ease-in all;
}

.rs_featured_image .form-table td.forminp-multi-checkbox span > span:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 2.5px;
	width: 10px;
	height: 10px;
	background:#6c7781;
	border-radius: 15px;
	transition: 0.1s ease-in all;
}

.rs_featured_image .form-table td.forminp-multi-checkbox input:checked + span > span {
	background: var(--jwp__color-brand);
	border-color: var(--jwp__color-brand);
}

.rfsv .form-table td.forminp-multi-checkbox input:checked + span > span:before {
	border-radius: 0;
	right: calc(100% - 10px);
	transform: translateX(-100%);
	width: 1.5px;
	border: none;
	height: 6px;
	background: #fff;
}

.rs_featured_image .form-table td.forminp-multi-checkbox input:checked + span > span:after {
	background: #fff;
	left: calc(100% - 3px);
	transform: translateX(-100%);
}

.rs_featured_image .form-table td.forminp-multi-checkbox span > span:active:after {
	width: 20px;
}

.forminp-multi-checkbox fieldset {
	max-width: 1000px;
}

.forminp-multi-checkbox ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 80px;
	margin: 0;
	padding: 0;
}

.forminp-multiselect .select2-container {
	width: 100% !important;
}

.rs_featured_image.uroles td.forminp-multi-checkbox ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 700px) {
	.forminp-multi-checkbox ul {
		grid-template-columns: 1fr;
	}
}

.forminp-multi-checkbox li {
	flex: 0 0 150px;
	margin-top: 10px;
}


.forminp-multi-checkbox li label {
	margin: 0 !important;
	padding: 0;
}


.rs_featured_image .form-table td.forminp-multi-checkbox li label {
	display: inline-flex;
	flex-direction: row-reverse;
	width: 100%;
	justify-content: space-between;
}

.rs_featured_image .form-table td.forminp-multi-checkbox li label > * {
	margin: 0;
	align-self: center;
}

.rs_featured_image .forminp-color {
	display: flex;
	align-items: center;
	gap: 10px;
}

.rs_featured_image .forminp-color .wp-picker-container {
	position: relative;
}

.rs_featured_image .forminp-color .wp-picker-container .wp-color-result {
	margin-bottom: 0;
}

.rs_featured_image .forminp-color .wp-picker-container.wp-picker-active .wp-picker-input-wrap {
	display: inline-flex;
	align-items: center;
	gap: 4px;
}

.rs_featured_image .forminp-color .wp-picker-container.wp-picker-active .wp-picker-holder {
	position: absolute;
	top: 40px;
	z-index: 999;
}

.rs_featured_image .forminp-color p {
	margin: 0;
}

.rs_featured_image .forminp-code input {
	padding: 6px;
	box-shadow: none;
	color: rgba(0,0,0,0.8);
	background-color: rgba(0,0,0,0.05);
	border: 1px solid rgba(0,0,0,0.1);
}

.rs_featured_image-enable-post-types + table.form-table,
.rs_featured_image-self-audio-controls + table.form-table,
.rs_featured_image-embed-audio-controls + table.form-table {
	background-color: #fff;
	border: 1px solid #DCDCDC;
}

.rs_featured_image-enable-post-types + table.form-table td,
.rs_featured_image-self-audio-controls + table.form-table td,
.rs_featured_image-embed-audio-controls + table.form-table td {
	padding: 6px 14px;
}

.rs_featured_image .forminp-status .engine-active::before {
	content: ' ';
	display: inline-block;
	background: var(--jwp__color-brand);
	width: 8px;
	height: 8px;
	border-radius: 100%;
	margin-right: 4px;
}

.rs_featured_image .forminp-status .engine-inactive::before {
	content: ' ';
	display: inline-block;
	background: #e14d43;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	margin-right: 4px;
}

.rs_featured_image .form-table + div[class*="promo-"] {
	margin-top: 30px;
}

.rs_featured_image tr[class*="promo-"] label > a,
.rs_featured_image div[class*="promo-"] > a {
	text-decoration: none;
	color: currentColor;
}

.rs_featured_image tr[class*="promo-"] .pro-tag,
.rs_featured_image div[class*="promo-"] .pro-tag {
	padding: 3px 6px;
	display: inline-block;
	background: var(--jwp__color-brand);
	color: #fff;
	font-size: 14px;
	border-radius: 4px;
	margin-right: 8px;
	border: 2px solid transparent;
}

.rs_featured_image tr[class*="promo-"] .pro-tag:hover,
.rs_featured_image tr[class*="promo-"] .pro-tag:focus,
.rs_featured_image tr[class*="promo-"] .pro-tag:active,
.rs_featured_image div[class*="promo-"] .pro-tag:hover,
.rs_featured_image div[class*="promo-"] .pro-tag:focus,
.rs_featured_image div[class*="promo-"] .pro-tag:active {
	background: transparent;
	border-color: var(--jwp__color-brand);
	color: var(--jwp__color-brand) !important;
	box-shadow: none;
	outline: none;
}

.rs_featured_image tr[class*="promo-"] img {
	opacity: 0.6;
	height: 80px;
	width: auto;
}

.rs_featured_image tr[class*="promo-"] a.disabled {
	pointer-events: none;
	cursor: none;
	display: block;
	margin-top: 10px;
	opacity: 0.6;
}

.rs_featured_image td[class*=" forminp-promo-"] select {
	opacity: 0.7;
}

.rs_featured_image .forminp-media-image .media-image {
	height: 80px;
	width: auto;
	max-width: 100%;
	display: block;
	margin-bottom: 10px;
}

.rs_featured_image .forminp-media-image .rs_featured_image-remove-image-btn {
	margin-left: 10px;
}

.rs_featured_image.getpro .tab-content .rs_featured_image-button {
	display: inline-block;
	margin-top: 10px;
}
.rs_featured_image.getpro .submit {
	display: none;
}

.rs_featured_image.getpro .rs_featured_image-button.rs_featured_image-getpro-button {
	display: inline-block;
	margin-top: 30px;
}

.rs_featured_image.getpro h1:not(.menu-title) {
	margin-top: 15px;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
}

.rs_featured_image.getpro .getpro-content ul {
	list-style: disc;
	list-style-position: inside;
}

.rs_featured_image.getpro .getpro-content li {
	line-height: 1.5;
}

.rs_featured_image.getpro .getpro-content p, li {
	font-size: 15px;
}

.rs_featured_image.getpro form {
	position: relative;
}

.rs_featured_image.getpro form {
	height: calc(100% - 10%);
}

.rs_featured_image.getpro .getpro-content .offer-highlight {
	font-size: 18px;
}

.rs_featured_image.getpro .tab-content .rs_featured_image-button {
	display: inline-block;
	margin-top: 10px;
	font-size: 16px;
	padding: 4px 20px;
}

.rs_featured_image .sidebar .help-box,
.rs_featured_image .notice-box {
	background: #fff;
	border: 1px solid #dcdcdc;
	padding: 5px 30px 25px;
	margin-bottom: 20px;
}


.rs_featured_image .sidebar .help-box > *,
.rs_featured_image .notice-box > * {
	margin-bottom: 15px;
}

.rs_featured_image .sidebar .help-box .desc,
.rs_featured_image .notice-box .desc {
	font-size: 15px;
}

.rs_featured_image .sidebar .help-box .button.button-primary,
.rs_featured_image .notice-box .button.button-primary {
	font-size: 16px;
	width: 100%;
	padding: 6px 0;
	text-align: center;
	color: #fff;
}

.rs_featured_image .help-btn {
	padding: 6px 10px;
	border: 2px solid transparent;
	border-radius: 4px;
	text-decoration: none;
	line-height: 1.5;
}


.rs_featured_image .button-primary,
.rs_featured_image .rs_featured_image-button.button-primary {
	background: var(--jwp__color-brand);
	color: #fff;
	box-shadow: none;
	outline: none;
	border: 2px solid transparent;
	transition: all .1s ease-in-out;
}

.rs_featured_image .button-primary:active,
.rs_featured_image .button-primary:focus,
.rs_featured_image .button-primary:hover {
	background: transparent;
	border-color: var(--jwp__color-brand);
	color: var(--jwp__color-brand) !important;
	box-shadow: none;
	outline: none;
}

.rs_featured_image .tab-content a {
	color: var(--jwp__color-brand);
}

.rs_featured_image .button.button-secondary {
	border-color: var(--jwp__color-brand);
}


.rs_featured_image .button.button-secondary:hover,
.rs_featured_image .button.button-secondary:focus,
.rs_featured_image .button.button-secondary:active {
	background: var(--jwp__color-brand);
	color: #fff;
	border-color: var(--jwp__color-brand);
}

.rs_featured_image a:hover,
.rs_featured_image a:focus,
.rs_featured_image a:active {
	text-decoration: none;
}

@media screen and ( min-width: 1920px ) {
	.rs_featured_image.getpro form {
		height: auto;
	}
}

@media screen and (max-width: 768px) {
	.rs_featured_image.getpro form {
		padding-bottom: 250px;
	}
}